
.active-status{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color:forestgreen;
    cursor:pointer;
}

.deActive-status {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    cursor: pointer;
}


.slider-content{
    width:400px;
    height:300px;

}

.slider-content img{
    width:100%;
}